#searchResult{
    list-style: none;
    padding: 0px;
    width: 92%;
    position: absolute;
    margin: 0;
    z-index:999;
    max-height: 200px;
    overflow-y: auto;
    line-height: 1.42857;
    border: 1px solid #c2cad8;
}

#searchResult li{
    background-color: #ffffff;
    padding: 4px;
    margin-bottom: 1px;
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    overflow-y: auto;
    line-height: 1.42857;
}


#searchResult li:nth-child(even){
    background-color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    overflow-y: auto;
    line-height: 1.42857;
}

#searchResult li:hover{
    cursor: pointer;
    background-color: #337ab7;
    color: #ffffff;
}


#searchResult li.no-data:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
}

#searchResult li span{
    margin-left: 5px;
}
